body{
  margin: 0;
  padding: 0;
  background-color: #FAFAF8;
  font-family: Inter, sans-serif;
}

*{
  box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    gap: 11px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    height: 111px;
}

.header > img{
    height: 53px;
    width: 43px;
}

.header > h1{
    font-weight: 400;
    font-size: 2rem;
    line-height: 60px;
    letter-spacing: -5%;
}

main{
    padding: 30px 30px 10px;
}

.add-ingredient-form{
    display: flex;
    justify-content: center;
    gap: 12px;
    height: 38px;
}

.add-ingredient-form > input{
    border-radius: 6px;
    border: 1px solid #D2D5DB;
    padding: 9px 13px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    flex-grow: 1;
    min-width: 150px;
    max-width: 400px;
}

.add-ingredient-form > button {
    border-radius: 6px;
    border: none;
    font-family: Inter, sans-serif;
    background-color: #141413;
    color: #FAFAF8;
    width: 150px;
    font-size: 0.875rem;
    font-weight: 500;
}

.add-ingredient-form > button::before{
    content: "+";
    margin-right: 5px;
}